body, html{
	padding:0;
	margin:0;
	background-color:#202020;
	width:100%;
	height:100%;
	position:fixed;
	overflow:none;
	font-size:12px;
}
canvas#renderEditor, canvas#renderMedia
{
	width:100%;
	height:100%;
	background-color:#333333;
	padding:0;
	margin:0;
	display: block;
}
#version
{
	position:absolute;
	right:5px;
	top:2px;
	color:white;
	font-style : italic;
}
.CodeMirror-scroll {
	width:100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
}
#version a {
	color:white;
	font-weight: bold;
}
#version a:hover{
	text-decoration: none;
	color:white;
	font-weight: bold;
}
h4 {
	font-size:12px;
}
#alertOnDesing
{
	display:none;
	position:absolute;
	top: 5px;
	left: 5px;
	width:100px;
	height:100px;
	cursor:pointer;
}
form, #code
{
	padding:0;
	margin:0;
	display: inline;
}
#show_stats_scene
{
	display:none;
	position:absolute;
	width:200px;
	height:350px;
	right: 5px;
	bottom:5px;
	overflow:auto;
	background-color:rgba(0,0,0, 0.5);
}
#containeur
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;	
}
#li_profil
{
	display:none;
}
#ControleSons, #ControleVideo
{
	display:none;
	position:absolute;
	width:100%;
	height:60px;
	bottom:5px;
	background-color:black;
}

/*
Splash
*/
div.SplashScreen {
	width:100%;
	height:100%;
	background-color: #383838 !important;
	z-index:99;  
	position:absolute;
}
div.splash
{
	background-image:url(../images/logo_castor_blanc.png);
	width:600px;
	height:240px;
	margin:auto;
}
div.Frame_SplashScreen {
	width:800px;
	height:600px;
	background-color: transparent !important;
	z-index:100;  
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color:white;
	font-size:14px;
}
div.Frame_SplashScreen img.splash {
	margin: 50px 0 50px 0;
}