#tabsEditor
{
	position:absolute;
	top:20px;
	width:99.7%;
	height:97%;
	z-index:1;
}
#tabsEditor .ui-tabs-nav { 
    float: right; 
    border-left: none; 
    -moz-border-radius: 0 6px 0 0; 
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
	height: 33px; 
} 
#tabsEditor .ui-corner-top {
    height: 31px;     
}
#tabsEditor .ui-state-default a { 
    margin-top: -1px;     
}
#tabs-desing, #tabs-code, #tabs-media
{
	padding:3px 0 0 0;
	width:100%;
	height:96%;
}
