.nav {
	float:left;	
	border:0px;
	margin-top:5px;
	position:absolute;
}		
.ui-menu:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	color: white;
}
.ui-menu .ui-menu-item {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;		
}
#nav {
	text-align: center;
	font-size: 12px;
	margin-left:1px;
}
#nav li {
	display: inline-block;
	width: 85px;
}
li a {	
	text-decoration: none;
}
#nav li ul li {
	width: 190px;	
	height:20px;
	padding-top:5px;
	margin-left: 5px;
}
#nav li ul { 
	width: 220px;
}
.sub-menu li {
	text-align: left;	
}
#nav li ul li a
{
	margin-left:8px;
}