.pgTable {
  border: solid 1px #95B8E7;
  border-spacing: 0;
  width:100%;
  height:100%;
}

.pgGroupRow {
  background-color: #0972a5;
  font-weight: bold;
}

.pgGroupCell {
}

.pgRow {}

.pgCell {
  border: dotted 1px #ccc; 
}

.pgTooltip
{
	float: right;
	margin-right: 2px;
	cursor:help;
}