#toolbar
{
	position:absolute;
	top:24px;
	width:calc(100% - 229px);
	z-index:2;
	height:33px;
	padding-top:3px;
	padding-left:5px;
	-moz-border-radius: 6px 0 0 0; 
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
	margin-left:4px;
}